<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form class="ion-padding" (submit)="addTask()" #f="ngForm">
    <ion-item lines="full" class="ion-padding-bottom">
      <ion-label position="floating">タスク</ion-label>
      <ion-input type="text" [(ngModel)]="task" name="ts" required minlength="3" maxlength="20"></ion-input>
    </ion-item>
    <!-- <ion-button expand="block">追加</ion-button> -->
    <ion-button expand="block" type="submit" [disabled]="!f.form.valid">追加</ion-button>
  </form>
  <ion-list>
    <!-- <ion-item><ion-label>タスク1</ion-label></ion-item>
    <ion-item><ion-label>タスク2</ion-label></ion-item> -->
    <ion-item *ngFor="let t of tasks; let i = index">
      <ion-label>{{ t.name }}</ion-label>
      <ion-button fill="clear" color="danger" (click)="deleteTask(i)">
        削除
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
